body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f6f9;
}

.navbar {
  background: #0b3c5d;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.nav-links li {
  display: inline;
  margin: 0 10px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.container {
  padding: 20px;
}

.grid {
  display: flex;
  gap: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  width: 100%;
}

.faculty-grid {
  display: flex;
  gap: 20px;
}

.faculty-card {
  background: white;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
}

.faculty-card img {
  width: 120px;
  border-radius: 50%;
}

.btn {
  background: #0b3c5d;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}
