.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #203a43;
}

.navbar h2 {
  color: white;
}

.navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}
